
.profileHeader {
    background: white;
    display: flex;
    align-items: center;
    padding: 30px;
    width: auto;
    border-bottom: 1px solid #c9d3dd;
    line-height: 1.6;
}

.profile-image {
    width: 100px;
    margin-left: 20px;
}

.about {
    margin-left: 10px;
    color: black;
    font-weight: 500;
}

.reviews {
    margin-left: 20%;
    color: #000;
    display: flex;
    display: grid;
}

span.star_revs {
    display: flex;
}

.logout {
    margin-left:20%;
}

.vline {
    border-left: 1px solid #c9d3dd;
    padding: 20px;
}

.GContainer {
    max-width: 90%;
    padding-left: 25px;
    padding-right: 25px;
      }
    

.col-4_margin{
        flex-basis: 24%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
        border: 1px solid #c9d3dd;
        overflow: visible;
    }

.col-4_margin img {
    max-width: 100%;
    max-height: 100%;
}