

/* Page styling */
body {
<<<<<<< HEAD
    
=======

>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}



/* Top navigation menu styling */

/* Add a black background color to the top navigation */
.topnav {
<<<<<<< HEAD
  background-color: #333;
  overflow: hidden;
=======
    background-color: #333;
    overflow: hidden;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Style the title inside the navigation bar */
.topnav a {
<<<<<<< HEAD
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
=======
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 30px;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Style the links inside the navigation bar */
.topnav b {
<<<<<<< HEAD
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
=======
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Change the color of links on hover */
.topnav b:hover {
<<<<<<< HEAD
  background-color: #ddd;
  color: black;
=======
    background-color: #ddd;
    color: black;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Add a color to the active/current link */
.topnav b.active {
<<<<<<< HEAD
  background-color: #333;
  color: orange;
}


/* Card styling */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  float:left;
  margin-left: 1%;
  margin-top: 1%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
=======
    background-color: #333;
    color: orange;
}


#signin{
    float: right;
}

#searchbar{
    text-align:left;
    vertical-align:text-top;
    font-size:19px;
    left:2000px;
    top:20px;
    width:409px;
    height:38px;
    position:absolute;
    line-height:auto;
    color:#8d8d8d;
}

/* Card styling */
.cards{
    margin: auto;
    height: 480px;
    width: 2000px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float:left;
    margin-left: 1%;
    margin-top: 1%;
}

.brand{
    font-weight: bold;
}

.name{
    font-weight: normal;
    font-size: 20px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}


/* contact box */

* {
<<<<<<< HEAD
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
=======
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Clear floats after the columns */
.row:after {
<<<<<<< HEAD
  content: "";
  display: table;
  clear: both;
=======
    content: "";
    display: table;
    clear: both;
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
<<<<<<< HEAD
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
=======
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
>>>>>>> 1620d184d5ef0f6324775a4e2567d1824c2eadfd
